/*background image */
body {
  background-image: url("./images/ignasi_pattern_s.png");
}

/*Header */
h1 {
  color: rgb(9, 168, 160);
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
}
/*Portfolio Images */
img {
  width: 100%;
}

/*Navigation Bar */
.navbar-light .navbar-brand {
  color: white;
}
.navbar-brand {
  background-color: rgb(9, 168, 160);
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/*content container color*/
.white-background {
  background-color: white;
}

/*footer*/
.footer {
  background-color: rgb(150, 149, 149);
  color: white;
  border-top: solid rgb(9, 168, 160) 5px;
  bottom: 0;
  width: 100%;
}

/*Contact Form Submit Button */
#button {
  background-color: rgb(9, 168, 160);
  color: white;
  border-radius: 0;
  padding: 15px;
}

/*About Me Image*/ 
#profile-pic {
  height: auto;
  width: 200px;
}

/*media query for about me picture */
 @media screen and (max-width: 418px) {
  #profile-pic {
    width: 90%;
  }
} 
