body {
    background-image: url("./images/ignasi_pattern_s.png");
}

hr {
    border: 1px grey;
}

.navbar-light .navbar-brand {
    color: white;
}
.navbar-brand {
    background-color: teal;
    font-weight: bold;
}



.about-me {
    color: teal;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

#about-me {
    background-color: white;
    margin-top: 40px;
    margin-bottom:10px;
    margin-right: 50px;
    margin-left: -40px
}



